body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/* CALENDAR PAGE STYLES */

.Calendar {
  background-color: #00b5ad;
  border-radius: 0.28571429rem;
  color: white;
  margin-bottom: 72px;
}
.Calendar-nav {
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: space-between;
  padding: 12px;
}
.Calendar-nav button {
  color: white !important;
  background-color: rgba(0, 0, 0, 0.15) !important;
  margin: 0 !important;
  width: 200px;
}

.Calendar-week {
  font-size: 22px;
  font-weight: bold;
}

.Week-view {
  display: flex;
}
.Week-day {
  flex-shrink: 0;
  flex-grow: 1;
  text-align: center;
  max-width: 14.2857%;
}
.Week-day h2 {
  margin: 0;
  font-size: 18px;
  background-color: rgba(0, 0, 0, 0.15);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.Week-day + .Week-day {
  border-left: 1px solid rgba(255, 255, 255, 0.1);
}
.Week-planner h2 {
  margin-top: 72px;
}
.Week-entry {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 56px;
  padding: 8px;
}
.Week-entry-portion {
  align-items: stretch;
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.Week-entry-portion span {
  text-align: left;
}
.Week-entry + .Week-entry {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.Week-entry:hover {
  background-color: rgba(255, 255, 255, 0.3);
  height: auto;
}
.Week-entry button {
  margin: 8px 0 0 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  color: white !important;
  background-color: rgba(0, 0, 0, 0.15) !important;
}
.Week-entry input {
  width: 60px;
}
.Week-entry h4 {
  margin: 0;
}

.Planner {
  background-color: #00b5ad;
  border-radius: 0.28571429rem;
  color: white;
  margin-bottom: 32px;
}
.Planner button {
  color: white !important;
  background-color: rgba(0, 0, 0, 0.15) !important;
  margin: 0 !important;
}
.Planner .ui.input {
  margin-right: 16px;
}
.Planner select {
  font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
  background: #fff;
  border: 1px solid rgba(34, 36, 38, 0.15);
  color: rgba(0, 0, 0, 0.87);
  border-radius: 0.28571429rem;
  height: 38px;
}
.Planner input {
  width: 150px;
}
.Planner input[type=number] {
  width: 65px;
}
.Planner input[type=checkbox] {
  width: auto;
  margin-left: 16px;
}
.Planner-form {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.15);
  display: flex;
  padding: 8px 16px;
}
.Planner-form-label {
  font-weight: bold;
  margin-right: auto;
}
.Planner-form-inputs {
  display: flex;
}
.Planner-form-on {
  align-self: center;
  margin-right: 16px;
}
.Planner-form-select {
  margin-right: 16px;
}
.Planner-item {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  display: flex;
  padding: 8px 16px;
  align-items: center;
}
.Planner-item-name {
  margin-right: auto;
}
.Planner-item-destination {
  margin-right: auto;
}

.Week-empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 280px;
}

.Week-empty-title {
  font-size: 24px;
  font-weight: bold;
}

.Week-empty-instructions {
  font-size: 18px;
  margin-top: 8px;
}

.Margins {
  padding: 72px 100px;
}

/* END */
